.bg-primary {
  background-color: blue; }

.bg-secondary {
  background-color: red; }

.bg-tertiary {
  background-color: purple; }

.bg-success {
  background-color: #e1ffe1; }

.bg-warning {
  background-color: orange; }

.bg-danger {
  background-color: red; }

.bg-white {
  background-color: #ffffff; }

.bg-gray-light {
  background-color: #efefef; }

.bg-gray-dark {
  background-color: #222; }

.text-white {
  color: #ffffff; }

.border {
  border: 1px solid #222; }

.display-flex {
  display: flex; }

.flex-direction-row {
  flex-direction: row; }

.flex-direction-row-reverse {
  flex-direction: row-reverse; }

.flex-direction-column {
  flex-direction: column; }

.flex-direction-column-reverse {
  flex-direction: column-reverse; }

.flex-wrap {
  flex-wrap: no-wrap; }

.flex-nowrap {
  flex-wrap: nowrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.justify-content-center {
  justify-content: center; }

.justify-content-start {
  justify-content: flex-start; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-around {
  justify-content: space-around; }

.justify-content-evenly {
  justify-content: space-evenly; }

.align-items-start {
  align-items: flex-start; }

.align-items-end {
  align-items: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-stretch {
  align-items: stretch; }

.align-items-baseline {
  align-items: baseline; }

.align-content-start {
  align-content: flex-start; }

.align-content-end {
  align-content: flex-end; }

.align-content-center {
  align-content: center; }

.align-content-stretch {
  align-content: stretch; }

.align-content-between {
  align-content: space-between; }

.align-content-around {
  align-content: space-around; }

.margin-auto {
  margin: auto; }

.margin-0 {
  margin: 0; }

.margin-half {
  margin: 0.5rem; }

.margin-1 {
  margin: 1rem; }

.margin-2 {
  margin: 2rem; }

.margin-3 {
  margin: 3rem; }

.margin-top-auto {
  margin-top: auto; }

.margin-top-0 {
  margin-top: 0; }

.margin-top-half {
  margin-top: 0.5rem; }

.margin-top-1 {
  margin-top: 1rem; }

.margin-top-2 {
  margin-top: 2rem; }

.margin-top-3 {
  margin-top: 3rem; }

.margin-right-auto {
  margin-right: auto; }

.margin-right-0 {
  margin-right: 0; }

.margin-right-half {
  margin-right: 0.5rem; }

.margin-right-1 {
  margin-right: 1rem; }

.margin-right-2 {
  margin-right: 2rem; }

.margin-right-3 {
  margin-right: 3rem; }

.margin-bottom-auto {
  margin-bottom: auto; }

.margin-bottom-0 {
  margin-bottom: 0; }

.margin-bottom-half {
  margin-bottom: 0.5rem; }

.margin-bottom-1 {
  margin-bottom: 1rem; }

.margin-bottom-2 {
  margin-bottom: 2rem; }

.margin-bottom-3 {
  margin-bottom: 3rem; }

.margin-left-auto {
  margin-left: auto; }

.margin-left-0 {
  margin-left: 0; }

.margin-left-half {
  margin-left: 0.5rem; }

.margin-left-1 {
  margin-left: 1rem; }

.margin-left-2 {
  margin-left: 2rem; }

.margin-left-3 {
  margin-left: 3rem; }

.margin-x-auto {
  margin-right: auto;
  margin-left: auto; }

.margin-x-0 {
  margin-right: 0;
  margin-left: 0; }

.margin-x-half {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.margin-x-1 {
  margin-right: 1rem;
  margin-left: 1rem; }

.margin-x-2 {
  margin-right: 2rem;
  margin-left: 2rem; }

.margin-x-3 {
  margin-right: 3rem;
  margin-left: 3rem; }

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto; }

.margin-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.margin-y-half {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.margin-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.padding-0 {
  padding: 0; }

.padding-half {
  padding: 0.5rem; }

.padding-1 {
  padding: 1rem; }

.padding-2 {
  padding: 2rem; }

.padding-3 {
  padding: 3rem; }

.padding-top-0 {
  padding-top: 0; }

.padding-top-half {
  padding-top: 0.5rem; }

.padding-top-1 {
  padding-top: 1rem; }

.padding-top-2 {
  padding-top: 2rem; }

.padding-top-3 {
  padding-top: 3rem; }

.padding-right-0 {
  padding-right: 0; }

.padding-right-half {
  padding-right: 0.5rem; }

.padding-right-1 {
  padding-right: 1rem; }

.padding-right-2 {
  padding-right: 2rem; }

.padding-right-3 {
  padding-right: 3rem; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-bottom-half {
  padding-bottom: 0.5rem; }

.padding-bottom-1 {
  padding-bottom: 1rem; }

.padding-bottom-2 {
  padding-bottom: 2rem; }

.padding-bottom-3 {
  padding-bottom: 3rem; }

.padding-left-0 {
  padding-left: 0; }

.padding-left-half {
  padding-left: 0.5rem; }

.padding-left-1 {
  padding-left: 1rem; }

.padding-left-2 {
  padding-left: 2rem; }

.padding-left-3 {
  padding-left: 3rem; }

.padding-x-0 {
  padding-right: 0;
  padding-left: 0; }

.padding-x-half {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.padding-x-1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.padding-x-2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.padding-x-3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.padding-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.padding-y-half {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.padding-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.height-100-percent {
  height: 100%; }

.width-100-percent {
  width: 100%; }
