h1 {
	font-weight: bold;
	font-size: 2rem;
}

h2 {
	font-weight: bold;
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.02rem;
}

h5 {
	font-size: 1.01rem;
}

h6 { 
	font-weight: bold; 
	font-size: 1rem;
}