// background color
.bg-primary {
	background-color: $color-primary;
}

.bg-secondary {
	background-color: $color-secondary;
}

.bg-tertiary {
	background-color: $color-tertiary;
}

.bg-success {
	background-color: $color-success;
}

.bg-warning {
	background-color: $color-warning;
}

.bg-danger {
	background-color: $color-danger;
}

.bg-white {
	background-color: $color-white;
}

.bg-black {
	background-color: $color-black;
}

.bg-gray {
	background-color: $color-gray;
}

.bg-gray-light {
	background-color: $color-gray-light;
}

.bg-gray-dark {
	background-color: $color-gray-dark;
}

// text color
.text-primary {
	color: $color-primary;
}

.text-secondary {
	color: $color-secondary;
}

.text-tertiary {
	color: $color-tertiary;
}

.text-success {
	color: $color-success;
}

.text-warning {
	color: $color-warning;
}

.text-danger {
	color: $color-danger;
}

.text-white {
	color: $color-white;
}

.text-black {
	color: $color-black;
}

.text-gray {
	color: $color-gray;
}

.text-gray-light {
	color: $color-gray-light;
}

.text-gray-dark {
	color: $color-gray-dark;
}