// colors
$color-primary: blue;
$color-secondary: red;
$color-tertiary: purple;
$color-success: #e1ffe1;
$color-warning: orange;
$color-danger: red;

$color-white: #ffffff;
$color-black: #000000;

$color-gray: #333;
$color-gray-light: #efefef;
$color-gray-dark: #222;

// spacing
$margin-base: 1rem !default;
$padding-base: 1rem !default;